.leader{
    font-family: 'Wendy One';
    margin:0;
    text-align: center;
    font-style: italic;
    font-size: 2.1em;
    color: white
}
.leader1{
    font-family: 'Wendy One';
    margin: 0;
    font-style: italic;
    font-size: 1.7;
    color: white;
}
.circle2{
    width:15vw;
    height:15vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}