.navabr{
    background-color: blue;
}
.select{
    font-family: 'Wendy One';
    margin:0;
    text-align: center;
    font-style: italic;
    font-size: 1.9em;
    color: white
}

.circle-pic{
    width:15vw;
    height:15vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    
}
