.game {
    font-family: 'Wendy One';
    margin: 0;
    font-style: italic;
    font-size: 1.4;
    color: white;
}
.circle3{
    width:15vw;
    height:15vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}