
.circle{
    width:15vw;
    height:15vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 43%;
}
.profile{
    font-family: 'Wendy One';
    margin: 0;
    font-style: italic;
    font-size: 1.7;
    color: white;
}